<article class="post">
      <div class="title">
        <a href="/post/{{id}}" target="">{{title}}</a>
        <span> By {{user.username}} on {{format_date created_at}}</span>
      </div>
      <div class="meta">
         <span id="post-content-span">  {{post_content}}   </span>
      </div>
    </article>